<h1> Usuarios </h1>
<hr>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal"> 
            <i class="bi bi-person-plus"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addUserFileModal"> 
            <i class="bi bi-people"></i>
        </button>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnSearch"> 
                <i class="bi bi-search"></i>
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Input group example" aria-describedby="btnSearch">
    </div>
</div>
<hr>
<table id="users" class="table table-hover">
    <thead class="bg-secondary text-light">
        <tr>
            <th style="width: 20%" scope="col">ID</th>
            <th style="width: 50%" scope="col">Nombre</th>
            <th style="width: 10%" scope="col">Usuario</th>
            <th style="width: 10%" scope="col">Estado</th>
            <th style="width: 10%" scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{usr_id}}</td>
            <td>{{usr_fullname}}</td>
            <td>{{usr_username}}</td>
            <td>{{usr_state}}</td>
            <td style="text-align:center">
                <a class="btn" id="btnEdit" title="edit" href="/sgd/edit_{{usr_id}}"> 
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Modal add User -->

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="addUserForm" action="/sgd/users" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Crear Usuario </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputFullname"> Nombre </label>
                            <input type="text" class="form-control" id="inputFullname" name="fullname" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputUser"> Usuario </label>
                            <input type="text" class="form-control" id="inputUser" name="username" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputEmail"> Correo Electronico </label>
                            <input type="email" class="form-control" id="inputEmail" name="email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputDependence"> Dependecia </label>
                            <select class="form-control" id="inputDependence" name="dependence">
                                {{#each deps}}
                                    <option value="{{dep_id}}">{{dep_id}} - {{dep_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputId"> ID </label>
                            <input type="number" class="form-control" id="inputId" name="id" placeholder="Cod Dep + ID" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputPerfil"> Perfil </label>
                            <select class="form-control" id="inputPerfil" name="profile">
                                <option>Jefe</option>
                                <option>Normal</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputRol"> Rol </label>
                            <select class="form-control" id="inputRol" name="rol">
                                <option>Auxiliar Administrativo</option>
                                <option>Profesional Universitario</option>
                                <option>Profesional Especializado</option>
                                <option>Asesor</option>
                                <option>Directivo</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputExt"> Extensión </label>
                            <input type="text" class="form-control" id="inputExt" name="ext" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputAddress"> Ubicación </label>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Dirección + Edificio" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitForm"> Guardar </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal add User by File -->

<div class="modal fade" id="addUserFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="addUserFileForm" action="/sgd/users" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Creación Masiva de Usuarios </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formControlFile"> Seleccionar archivo: </label>
                        <input type="file" class="form-control-file" id="formControlFile">
                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="uploadFile"> Subir </button>
                </div>
            </form>
        </div>
    </div>
</div>