<h1> Usuarios </h1>
<hr>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"> 
            <i class="bi bi-person-plus"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addFileModal"> 
            <i class="bi bi-people"></i>
        </button>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnSearch"> 
                <i class="bi bi-search"></i>
            </div>
        </div>
        <input type="text" class="form-control" id="inputSearch" aria-label="inputSearch" aria-describedby="btnSearch" onkeyup="doSearch()" placeholder="Buscar..">
    </div>
</div>
<hr>
<table id="users" class="table table-hover">
    <thead class="bg-secondary text-light">
        <tr>
            <th style="width: 20%" scope="col">ID</th>
            <th style="width: 50%" scope="col">Nombre</th>
            <th style="width: 10%" scope="col">Usuario</th>
            <th style="width: 10%" scope="col">Estado</th>
            <th style="width: 10%" scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{usr_id}}</td>
            <td>{{usr_name}}</td>
            <td>{{usr_username}}</td>
            <td>{{usr_state}}</td>
            <td style="text-align:center">
                <a class="btn" id="btnEdit" title="edit" href="/sgd/edit_usr_{{usr_id}}"> 
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
        </tr>
        {{/each}}
        <tr class='noSearch hide'>
            <td colspan="5"></td>
        </tr>
    </tbody>
</table>

<!-- Modal add -->

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="addForm" action="/sgd/users" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"> Crear Usuario </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputName"> Nombre </label>
                            <input type="text" class="form-control" id="inputName" name="name" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputUser"> Usuario </label>
                            <input type="text" class="form-control" id="inputUser" name="username" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="inputEmail"> Correo Electronico </label>
                            <input type="email" class="form-control" id="inputEmail" name="email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputDependence"> Dependecia </label>
                            <select class="form-control" id="inputDependence" name="dependence">
                                {{#each deps}}
                                    <option value="{{dep_id}}">{{dep_id}} - {{dep_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputId"> ID </label>
                            <input type="number" class="form-control" id="inputId" name="id" placeholder="Cod Dep + ID" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputPerfil"> Perfil </label>
                            <select class="form-control" id="inputPerfil" name="profile">
                                <option>Jefe</option>
                                <option>Normal</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputRol"> Rol </label>
                            <select class="form-control" id="inputRol" name="rol">
                                <option>Auxiliar Administrativo</option>
                                <option>Profesional Universitario</option>
                                <option>Profesional Especializado</option>
                                <option>Asesor</option>
                                <option>Directivo</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputExt"> Extensión </label>
                            <input type="text" class="form-control" id="inputExt" name="ext" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputAddress"> Ubicación </label>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="Dirección + Edificio" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitForm"> Guardar </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal add by File -->

<div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="addFileForm" action="/sgd/users" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"> Creación Masiva de Usuarios </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formControlFile"> Seleccionar archivo: </label>
                        <input type="file" class="form-control-file" id="formControlFile">
                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="uploadFile"> Subir </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
        function doSearch()
        {
            const tableReg = document.getElementById('users');
            const searchText = document.getElementById('inputSearch').value.toLowerCase();
            let total = 0;
 
            // Recorremos todas las filas con contenido de la tabla
            for (let i = 1; i < tableReg.rows.length; i++) {
                // Si el td tiene la clase "noSearch" no se busca en su cntenido
                if (tableReg.rows[i].classList.contains("noSearch")) {
                    continue;
                }
 
                let found = false;
                const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
                // Recorremos todas las celdas
                for (let j = 0; j < cellsOfRow.length && !found; j++) {
                    const compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                    // Buscamos el texto en el contenido de la celda
                    if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                        found = true;
                        total++;
                    }
                }
                if (found) {
                    tableReg.rows[i].style.display = '';
                } else {
                    // si no ha encontrado ninguna coincidencia, esconde la
                    // fila de la tabla
                    tableReg.rows[i].style.display = 'none';
                }
            }
 
            // mostramos las coincidencias
            const lastTR=tableReg.rows[tableReg.rows.length-1];
            const td=lastTR.querySelector("td");
            lastTR.classList.remove("hide", "red");
            if (searchText == "") {
                lastTR.classList.add("hide");
            } else if (total) {
                td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
            } else {
                lastTR.classList.add("red");
                td.innerHTML="No se han encontrado coincidencias";
            }
        }
    </script>