<h1> Radicar Ingreso Fisico </h1>
<hr>
<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <canvas class="barcode" jsbarcode-format="UPC" jsbarcode-value="123456789012" jsbarcode-height="45"></canvas>
            <div class="input-group mb-3">
                <input type="date" class="form-control" placeholder="Fecha de Radicación" aria-describedby="inputDate">
                <div class="input-group-append">
                    <span class="input-group-text" id="inputDate">
                        <i class="bi bi-calendar3"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-9" >
            <h4>Remitente</h4>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputContactName">Nombre</label>
                    <input type="text" class="form-control" id="inputNameContact">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Correo Electronico</label>
                    <input type="email" class="form-control" id="inputEmail">
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputTel">Telefono</label>
            <input type="text" class="form-control" id="inputTel" value="12345">
        </div>
        <div class="form-group col-md-3">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Cll 9 # 10-25">
        </div>
        <div class="form-group col-md-2">
            <label for="inputCountry">Pais</label>
            <select id="inputCountry" class="form-control">
                <option selected> Choose...</option>
                {{#each country}}
                    <option>{{country_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">Departamento</label>
            <select id="inputState" class="form-control">
                <option selected> Choose...</option>
                {{#each dpto}}
                    <option>{{dpto_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputCity">Ciudad</label>
            <select id="inputCity" class="form-control">
                <option selected>Choose...</option>
                {{#each city}}
                    <option>{{city_name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <hr>
    <h4>Documento</h4>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="inputDocType">Tipo de Documento</label>
            <select id="inputDocType" class="form-control">
                <option selected>Choose...</option>
                {{#each doctypes}}
                    <option>{{doc_id}} - {{doc_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-7">
            <label for="inputForDependence">Dependencia Destino</label>
            <select id="inputForDependence" class="form-control">
                <option selected>Choose...</option>
                {{#each deps}}
                    <option>{{dep_id}} - {{dep_name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSubject">Asunto</label>
        <input type="text" class="form-control" id="inputSubject">
    </div>
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
        <label class="custom-file-label" for="validatedCustomFile">Seleccionar archivo...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Radicar</button>
    </div>
</form>

<!-- Barcode -->
<script>
    JsBarcode(".barcode").init();
</script>