<h1> Radicar Ingreso Fisico </h1>
<hr>
<form id="income_doc" method="post">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <h4>Remitente</h4>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnSearch"> 
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <input type="text" class="form-control" id="inputSearch" aria-label="inputSearch" aria-describedby="btnSearch" onkeyup="doSearch()" placeholder="Buscar..">
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputContactName">Nombre</label>
            <input type="text" class="form-control" id="inputNameContact">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail">Correo Electronico</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="form-group col-md-2">
            <label for="inputTel">Telefono</label>
            <input type="text" class="form-control" id="inputTel">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputAddress">Dirección</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Cll 9 # 10-25">
        </div>
        <div class="form-group col-md-3">
            <label for="inputCountry">Pais</label>
            <select id="inputCountry" class="form-control" name="country">
                <option selected> Choose...</option>
                {{#each country}}
                    <option>{{country_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputState">Departamento</label>
            <select id="inputState" class="form-control" name="dpto">
                <option selected> Choose...</option>
                {{#each dpto}}
                    <option>{{dpto_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputCity">Ciudad</label>
            <select id="inputCity" class="form-control" name="city">
                <option selected>Choose...</option>
                {{#each city}}
                    <option>{{city_name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <hr>
    <h4>Documento</h4>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-4">
            <svg id="barcode" height="40"></svg>
        </div>
        <div class="form-group col-md-3">
            <label for="inputDate">Fecha y Hora de Radicado</label>
            <div class="input-group">
                <div class="input-group-prepend" data-target="#inputDate" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="bi bi-calendar3"></i> 
                        <i class="bi bi-slash"></i>
                        <i class="bi bi-clock"></i> 
                    </div>
                </div>
                <input id="inputDate" type="text" class="form-control" aria-describedby="inputDate" placeholder="dd-mm-yyyy HH:mm">
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="inputDocType">Tipo de Documento</label>
            <select id="inputDocType" class="form-control">
                {{#each doctypes}}
                    <option id={{doctype_id}}>{{doctype_id}} - {{doctype_name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDependence">Dependencia Destino</label>
            <select id="inputDependence" class="form-control">
                {{#each deps}}
                    <option value={{dep_id}}>{{dep_id}} - {{dep_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputDependence">Asignar a:</label>
            <select id="inputDependence" class="form-control">
                {{#each users}}
                    <option value={{usr_id}}>{{usr_id}} - {{usr_name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputSubject">Asunto</label>
            <input type="text" class="form-control" id="inputSubject">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-row">
                <button id="genBarcode" type="button" class="btn btn-secondary btn-block">Generar codigo</button>
            </div>
            <div class="form-row">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="validatedCustomFile">Seleccionar archivo...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <svg id="barcode" height="40"></svg>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Radicar documento</button>
</form>