<h1> Dependencias </h1>
<hr>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"> 
            <i class="bi bi-plus"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addFileModal"> 
            <i class="bi bi-file-plus"></i>
        </button>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnSearch"> 
                <i class="bi bi-search"></i>
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Input group example" aria-describedby="btnSearch">
    </div>
</div>
<hr>
<table id="users" class="table table-hover">
    <thead class="bg-secondary text-light">
        <tr>
            <th style="width: 10%" scope="col">ID</th>
            <th style="width: 40%" scope="col">Nombre</th>
            <th style="width: 40%" scope="col">Edificio</th>
            <th style="width: 10%" scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {{#each deps}}
        <tr>
            <td>{{dep_id}}</td>
            <td>{{dep_name}}</td>
            <td>{{ed_id}}</td>
            <td style="text-align:center">
                <a class="btn" id="btnEdit" title="edit" href="/sgd/edit_dep_{{dep_id}}"> 
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Modal add -->

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md">
        <div class="modal-content">
            <form id="addForm" action="/sgd/dependencies" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"> Crear Dependencia </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputId"> ID </label>
                            <input type="number" class="form-control" id="inputId" name="id" placeholder="Cod Dep + ID" >
                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputName"> Nombre </label>
                            <input type="text" class="form-control" id="inputName" name="name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputBuilding"> Ubicación </label>
                            <select class="form-control" id="inputBuilding" name="building">
                                {{#each buildings}}
                                    <option value="{{ed_id}}">{{ed_id}} - {{ed_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitForm"> Guardar </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal add User by File -->

<div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="addFileForm" action="/sgd/dependencies" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"> Creación Masiva de Dependencias </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formControlFile"> Seleccionar archivo: </label>
                        <input type="file" class="form-control-file" id="formControlFile">
                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="uploadFile"> Subir </button>
                </div>
            </form>
        </div>
    </div>
</div>