<h1> Tipo de Documentos </h1>
<hr>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDoctypeModal"> 
            <i class="bi bi-plus"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addDoctypeFileModal"> 
            <i class="bi bi-file-plus"></i>
        </button>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnSearch"> 
                <i class="bi bi-search"></i>
            </div>
        </div>
        <input type="text" class="form-control" aria-label="Input group example" aria-describedby="btnSearch">
    </div>
</div>
<hr>
<table class="table table-hover">
    <thead class="bg-secondary text-light">
        <tr>
            <th style="width: 20%" scope="col">ID</th>
            <th style="width: 50%" scope="col">Tipo de Documento</th>
            <th style="width: 20%" scope="col">Dias de Respuesta</th>
            <th style="width: 10%" scope="col">Acci贸n</th>
        </tr>
    </thead>
    <tbody>
        {{#each doctypes}}
        <tr>
            <td>{{doc_id}}</td>
            <td>{{doc_name}}</td>
            <td>{{doc_days}}</td>
            <td style="text-align:center">
                <a class="edit" id="btnEditDoctype" title="Editar" data-toggle="modal" data-id="/{{doc_id}}" data-target="#editDoctypeModal"> 
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Modal add Dependence -->

<div class="modal fade" id="addDoctypeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="addDoctypeForm" action="/sgd/doctypes" method="POST">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Crear Tipo de Documento </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="inputId"> Codigo </label>
                            <input type="number" class="form-control" id="inputId" name="id" placeholder="Cod Dep + ID" required>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputName"> Nombre del Tipo de Documento </label>
                            <input type="text" class="form-control" id="inputName" name="name" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputDays"> Respuesta en </label>
                            <input type="number" class="form-control" id="inputDays" name="days" placeholder="Direcci贸n + Edificio" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitForm"> Guardar </button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal add Dependence by File -->

<div class="modal fade" id="addDoctypeFileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form id="addDoctypeFileForm" action="/sgd/users" method="POST">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Creaci贸n Masiva de Tipos de Documentos </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="formControlFile"> Seleccionar archivo: </label>
                        <input type="file" class="form-control-file" id="formControlFile">
                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="uploadFile"> Subir </button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal edit Dependence -->

<div class="modal fade" id="editDoctypeModal" tabindex="-1" aria-labelledby="editDoctypeModalLabel" aria-hidden="true">
    <form id="editDoctypeForm" action="/{{id}}" method="POST">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDocypeModalLabel"> Editar Tipo de Documento </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="inputId"> Codigo </label>
                            <input type="number" class="form-control" id="inputId" name="id" placeholder="Cod Dep + ID" required>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputName"> Nombre del Tipo de Documento </label>
                            <input type="text" class="form-control" id="inputName" name="name" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputDays"> Respuesta en </label>
                            <input type="number" class="form-control" id="inputDays" name="days" placeholder="Direcci贸n + Edificio" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitForm"> Guardar </button>
                </div>
            </div>
        </div>
    </form>
</div>